html, body {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  min-height: 100vh;
  background-color: #fff;
  padding-bottom: 70px;
  font-family: 'Open Sans Condensed', sans-serif;
  padding-top: 50px;
}

.navbar {
  margin-bottom: 0px;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1000;
}

.hero {
  width: 100%;
  height: calc(100vh - 50px);
  background-image: url("../images/mount-timpanogos-bw.jpg");
  background-size: cover;
  background-position: center center;
  margin: 0 auto;
  /*font-family: 'Open Sans Condensed', sans-serif;*/
  text-align: center;
  z-index: 0;
  margin-bottom: 20px;
}

/*.hero {
  width: 90%;
  height: calc(90vh - 50px);
  background-image: url("../images/mount-timpanogos-bw.jpg");
  background-size: cover;
  background-position: center center;
  margin: 0 auto;
  text-align: center;
  z-index: 0;
  margin-bottom: 5vh;
  margin-top: 5vh;
}*/

.name {
  margin: 0 auto;
  padding-top: 5%;
  /*color: #18669A;*/
  /*font-size: 50px;*/
  /*font-family: 'PT Sans Narrow', sans-serif;*/
  /*font-family: 'Quicksand', sans-serif;*/
  /*font-family: 'Maven Pro', sans-serif;*/
  /*font-family: 'Abel', sans-serif;*/
}

.title {
  /*color: #18669A;*/
}

.profilepic {
  /*max-width: 125px;*/
  border-radius: 2%;
  border: 2px solid #D5D4D2;
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  /*display: block;*/
  /*margin-top: 12%;*/
  /*text-align: center;*/
}

.section-heading {
  text-align: center;
  font-size: 50px;
  margin-bottom: 40px;
}

.section-subheading {
  text-align: center;
  font-size: 34px;
  margin-bottom: 40px;
}

.my-profile {
  /* min-height: 100vh; */
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
  font-size: 40px;
  margin-top: 0px;
}

.featurette-text p {
  font-size: 16px;
}

.featurette-divider {
  margin-top: 40px;
  margin-bottom: 40px;
}

.circle-profile {
  margin-bottom: 40px;
}

.circle-profile-image {
  margin: auto;
  display: block;
}

.circle-profile-text {
  text-align: center;
}

.carousel-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1280px;

}

.carousel-image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*min-height: 60%;*/
  width: 100%;

}

.top-container {
  /* height: 100vh; */
  background-color: #F8F8F8;
  width: 100%;
  margin: 0 auto;
}

.my-features {
  width: 100%;
  padding: 60px;
}

.skills {
  border: solid black 1px;
  margin-right: 5px;
  margin-left: 5px;
  width: 50%;
}

.coming-features {
  text-align: center;
  font-style: italic;
}

@media (min-width: 370px) {
  .name {
    font-size: 60px;
  }
  /*.profilepic {
    max-width: 175px;
  }*/
}

@media (min-width: 600px) {
  .hero {
    padding-bottom: 50px;
  }
  .name {
    font-size: 75px;
    padding-top: 3%;
  }
  .hero h4 {
    font-size: 23px;
  }
  /*.profilepic {
    max-width: 200px;
  }*/
}

@media (min-width: 992px) {
  .featurette-image {
    margin-top: 25px;
  }
}

@media (min-width: 1000px) {
  /*.profilepic {
    max-width: 250px;
  }*/
  .name {
    padding-top: 2%;
  }
  /*.featurette-text {
    margin-top: 80px;
  }*/
}

@media (min-width: 1200px) {
  .featurette-heading {
    margin-top: 15px;
  }
  .featurette-image {
    margin-top: 0px;
  }
}

@media (min-width: 1250px) {
  .name {
    padding-top: 4%;
  }
  /*.section-heading {
    font-size:
  }*/
}
