html, body {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  min-height: 100vh;
  background-color: #fff;
  padding-bottom: 70px;
  font-family: 'Open Sans Condensed', sans-serif;
}

.navbar {
  margin-bottom: 0px;
}

.hero {
  width: 100%;
  height: calc(100vh - 50px);
  background-image: url("images/mount-timpanogos-bw.jpg");
  background-size: cover;
  background-position: center center;
  margin: 0 auto;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  z-index: 0;
}

.name {
  margin: 0 auto;
  padding-top: 5%;
  /*color: grey;*/
  font-size: 50px;
  /*font-family: 'PT Sans Narrow', sans-serif;*/
  /*font-family: 'Quicksand', sans-serif;*/
  /*font-family: 'Maven Pro', sans-serif;*/
  /*font-family: 'Abel', sans-serif;*/
}

.profilepic {
  max-width: 125px;
  /*border-radius: 50%;*/
  border: 2px solid #D5D4D2;
  margin-top: 12%;
}

.section-heading {
  text-align: center;
  font-size: 50px;
}

.carousel-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1280px;

}

.carousel-image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*min-height: 60%;*/
  width: 100%;

}

@media (min-width: 370px) {
  .name {
    font-size: 60px;
  }
  .profilepic {
    max-width: 175px;
  }
}

@media (min-width: 600px) {
  .hero {

  }
  .name {
    font-size: 75px;
    padding-top: 3%;
  }
  .hero h4 {
    font-size: 23px;
  }
  .profilepic {
    max-width: 200px;
  }
}

@media (min-width: 1000px) {
  .profilepic {
    max-width: 250px;
  }
  .name {
    padding-top: 2%;
  }
}

@media (min-width: 1250px) {
  .name {
    padding-top: 1%;
  }
}
